/* CSS version of https://dribbble.com/shots/2163674-Floppy-Disk-Friends */
body {
  background-color: #D9EABA;
  font-family: Helvetica;
  font-weight: 200;
  margin-top: 50px;
  text-align: center;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 60%;
  justify-content: space-between;
}

.floppy {
  border: 3px solid #60615F;
  border-radius: 3px 40px 3px 3px;
  height: 200px;
  position: relative;
  min-width: 210px;
}

.floppy--green {
  background-color: #C7E07F;
}

.floppy--green .floppy-disk {
  background-color: #9CCF81;
}

.floppy--green .floppy-disk:after {
  background-color: #C7E07F;
}

.floppy--pink {
  background-color: #E8768A;
}

.floppy--pink .floppy-disk {
  background-color: #B94C6B;
}

.floppy--pink .floppy-disk:after {
  background-color: #E8768A;
}

.floppy-disk {
  border: 3px solid #60615F;
  border-top: none;
  border-radius: 3px;
  height: 60px;
  max-width: 70%;
  margin: 0 auto;
  position: relative;
}

.floppy-disk:before {
  background-color: #E4E5E6;
  border: 2px solid #60615F;
  border-radius: 3px;
  bottom: -3%;
  content: '';
  display: block;
  height: 104%;
  left: 20px;
  position: absolute;
  width: 80%;
}

.floppy-disk:after {
  background: red;
  border: 2px solid #60615F;
  border-radius: 5px;
  bottom: 5px;
  content: '';
  display: block;
  height: 80%;
  right: 15px;
  position: absolute;
  width: 20%;
}

.floppy-label {
  background-color: #F0E3CA;
  border: 2px solid #60615F;
  border-radius: 10px;
  bottom: 3px;
  left: 0;
  height: 100px;
  margin: 0 auto;
  max-width: 70%;
  position: absolute;
  right: 0;
}

.floppy-label:before,
.floppy-label:after {
  background-color: #60615F;
  border-radius: 50%;
  content: '';
  display: block;
  height: 5px;
  position: absolute;
  top: 50%;
  width: 5px;
}

.floppy-label:before {
  left: 30%;
}

.floppy-label:after {
  right: 30%;
}

.floppy-reaction {
  border: 2px solid #60615F;
  border-radius: 10px 10px 0 0;
  bottom: 30%;
  height: 5px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 10px;
}

.happy-valentines {
  display: none;
  margin: 40px 0;
  text-align: center;
}

@media (max-width: 800px) {
  .floppy-reaction {
    border-radius: 0 0 10px 10px;
  }

  .happy-valentines {
    display: block;
  }
}
